@value color_item,color_white_font,color_increase,color_decrease from "../../common/common.css";

.itemContainer {
  background-color: color_item;
  flex: 0 1 31%;
  border-radius: 1.4%;
  color: color_white_font;
  padding: 0.8rem 0.5rem;
  display: flex;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.iconContainer {
  font-size: 2.1rem;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}
.textContainer {
  padding-left: 0.5rem;
}
.perRed {
  color: color_increase;
}
.perBlue {
  color: color_decrease;
}
.zero {
  color: color_white_font;
}
.hintContainer {
  display: flex;
}
.hintBtnContainer {
  margin-left: 0.5rem;
}
@media (max-width: 917px) {
  .hintContainer {
    display: block;
  }
  .hintBtnContainer {
    margin-left: 0;
  }
}
@media (max-width: 765px) {
  .itemContainer {
    flex: 0 1 42%;
  }
}
 