@value color_white_font from "../../common/common.css";

.container {
  flex: 1 1 35%;
  display: flex;
  color: color_white_font;
  padding: 0.4rem 0;
}
.buy,
.sell {
  flex: 1 1 50%;
  margin: 0 1rem;
  position: relative;
}
