@value color_background,width_container_1,padding_container,color_white_font from "../../common/common.css";

.container {
  color: color_white_font;
  max-width: width_container_1;
  margin: 0 auto;
  padding: 2rem 2rem;
}

.li {
  width: 200px;
  height: 170px;
  position: relative;
  color: black;
  border-radius: 2%;
  background-color: #ffa;
}
.title {
  padding-bottom: 0.5rem;
}
.li::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1rem solid color_background;
  border-bottom: 1rem solid rgba(90, 90, 90, 0.45);
  border-right: 1rem solid color_background;
  border-left: 1rem solid rgba(90, 90, 90, 0.45);
}
