@value color_background,width_container_1,padding_container,color_white_font from "../../common/common.css";
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

/* 
#ffa 베이지
#88d16 녹색 
#e981c1 핑크
#a7dbf1 블루
#ffbf66 주황 
*/
.container {
  width: 200px;
  height: 170px;
  position: relative;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  box-shadow: 0px 15px 10px -6px #000000;
  margin-right: 2rem;
  border-radius: 4% 0 4% 4%;
}
.text {
  font-family: "Jua", sans-serif;
  word-break: break-word;
  padding: 0 0.5rem;
}
.container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 0.8rem solid color_background;
  border-bottom: 0.8rem solid rgba(52, 52, 52, 0.3);
  border-right: 0.8rem solid color_background;
  border-left: 0.8rem solid rgba(52, 52, 52, 0.3);
  border-radius: 0 0 0 20%;
}
.green {
  background-color: #9bca3e;
}
.pink {
  background-color: #e981c1;
}
.blue {
  background-color: #3abbc9;
}
.orange {
  background-color: #ffb92a;
}
.beige {
  background-color: #feeb51;
}
