@value color_resetBtn,color_white from "../../common/common.css";

.container {
  display: flex;
  padding-top: 0.2rem;
  display: flex;
  justify-content: space-between;
}

.container button {
  width: 19%;
  background-color: color_resetBtn;
  color: color_white;
  border: none;
  cursor: pointer;
}
