.container {
  flex: 0 1 35%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container canvas {
  width: 85% !important;
  height: 85% !important;
}
