@value color_lightGrey from "../../common/common.css";

.container {
  flex: 0 0 65%;
  display: flex;
  padding: 1rem;
  color: color_lightGrey;
  justify-content: space-between;
}
@media (max-width: 566px) {
  .container {
    padding: 1rem 0.5rem;
  }
}
