@value color_increase,color_decrease,color_white_font from "../../common/common.css";

.container {
  flex: 0 0 50%;
}
.moneyBox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.haveMoney {
  font-size: 0.8rem;
  color: grey;
  padding-right: 2rem;
}
.money {
  color: color_white_font;
  font-size: 1rem;
  padding-right: 0.5rem;
}
.titleBox {
  padding-bottom: 1.8rem;
}
.increase {
  color: color_increase;
}
.decrease {
  color: color_decrease;
}
