@value color_container,width_container_1,padding_container,height_main from "../../common/common.css";

.main {
  max-width: width_container_1;
  height: height_main;
  margin: 0 auto;
  margin-top: 2rem;
  padding: padding_container;
  border-bottom: 1px solid color_header_font;
}
.container {
  background-color: color_container;
  height: 100%;
  width: 100%;
  display: flex;
}
