@value color_blue_btn,color_red_btn,color_white_font from "../../common/common.css";

.buyBtn,
.sellBtn {
  cursor: pointer;
  width: 100%;
  outline: none;
  border: none;
  padding: 0.1rem 0;
  position: absolute;
  bottom: 0;
  color: color_white_font;
}

.buyBtn {
  background-color: color_red_btn;
}
.sellBtn {
  background-color: color_blue_btn;
}
