@value color_border from "../../common/common.css";

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid color_border;
  padding: 2rem 0;
}

@media (max-width: 537px) {
  .container {
    display: block;
  }
}
