@value color_hideContainer,color_white_font,width_container_1,padding_container,color_lightGrey,color_nav,height_header from "../../common/common.css";

.header {
  color: color_lightGrey;
  background-color: color_nav;
  height: height_header;
  font-size: 1.1rem;
  position: relative;
  z-index: 1;
}
.header svg {
  font-size: 1.5rem;
  margin-right: 0.3rem;
}

.container {
  max-width: width_container_1;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
  padding: padding_container;
}
.logo {
  font-size: 1.4rem;
  color: color_white_font;
  padding-left: 0.2rem;
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  margin-left: 4rem;
  z-index: 1;
}
.info li {
  padding: 0 0.8rem;
}
.info button {
  padding: 0 0.8rem;
}
.nav {
  display: flex;
  margin-left: auto;
}

.nextBtn {
  background-color: rgb(230, 126, 34);
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 0.4rem;
}
.resetBtn {
  background-color: rgb(44, 62, 80);
  border: none;
  color: white;
  cursor: pointer;
}

.hideContainer {
  height: 100%;
  position: fixed;
  right: -200px;
  width: 200px;
  top: 0;
  z-index: 2;
  transition: 0.3s;
  background-color: color_hideContainer;
}
.showHideContainer {
  right: 0;
}
.hamburger {
  cursor: pointer;
  margin-left: auto;
  position: relative;
  display: none;
  z-index: 999;
}

.hamburgerLine {
  width: 24px;
  height: 0.1px;
  padding: 0.1rem 0;
  margin-top: 0.3rem;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  background-color: color_white_font;
}
.top {
  transform: rotate(45deg);
  position: absolute;
  top: 0;
}
.bot {
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
}
.mid {
  opacity: 0;
}

@media (max-width: 900px) {
  .header {
    font-size: 1rem;
  }
  .nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
@media (max-width: 707px) {
  .info {
    margin-left: 1rem;
  }
  .logo {
    font-size: 1.1rem;
  }
  .header svg {
    font-size: 1.2rem;
  }
}
