@value color_white_font,width_container_1,padding_container,color_lightGrey,color_nav,height_header from "../../common/common.css";

.header {
  color: color_lightGrey;
  background-color: color_nav;
  height: height_header;
  font-size: 1.1rem;
}
.header svg {
  font-size: 1.9rem;
  padding-right: 0.2rem;
}

.container {
  max-width: width_container_1;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
  padding: padding_container;
}
.logo {
  font-size: 1.4rem;
  color: color_white_font;
  padding-left: 0.2rem;
}

.info {
  display: flex;
  margin-left: 4rem;
}
.info li {
  padding: 0 0.8rem;
}
.info button {
  padding: 0 0.8rem;
}
.nav {
  display: flex;
  margin-left: auto;
}

.nav a {
  color: color_lightGrey;
  margin-left: 1.4rem;
}

.nextBtn {
  background-color: rgb(230, 126, 34);
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 0.4rem;
}
.resetBtn {
  background-color: rgb(44, 62, 80);
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 900px) {
  .header {
    font-size: 1rem;
  }
  .info {
    display: none;
  }
}
