@value color_background, color_nav from "./common/common.css";

html {
  min-height: 100%;
}
body {
  min-height: 100%;
}

.container {
  width: 100%;
  min-height: 100%;
  position: relative;
  background-color: color_background;
}
