@value height_profileItem,color_container,color_category,color_border,color_white_font from "../../common/common.css";

.container {
  border-top: 1px solid color_border;
}

.stock {
  color: color_white_font;
  padding: 0.4rem 0;
}
.itemContainer {
  background-color: color_container;
  text-align: center;
  color: rgba(255, 255, 255, 0.823);
  height: height_profileItem;
}
.category {
  display: flex;
  background-color: color_category;
  padding: 0.3rem 0;
  color: rgb(164, 164, 164);
  font-size: 0.9rem;
}
.title,
.currentPrice {
  flex: 0 1 20%;
}
.amount,
.currentPricePer {
  flex: 0 1 10%;
}

.average,
.buying {
  flex: 0 1 15%;
}
